<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <div>
        <%= f.label :recepients %>
        <%= f.text_field :recepients %>
    </div>

    <div>
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>